<p id="notice"><%= notice %></p>

<h1>Listing Vehicles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Patent</th>
      <th>Cantidad Lavados</th>
      <th>Ver Empleados</th>
      <th colspan="3"></th>
    </tr>
  </thead>
        

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.patent %></td>
        <td><%= vehicle.washes.count %></td>
        <td><%= link_to "Ver Empleados", employees_path(:vehicle_id => vehicle.id)%></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
